<!DOCTYPE html>

    <html lang="en">

        <head>

            <meta http-equiv="content-type" content="text/html" charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="Pagina de la orden de VKS">
            <meta name="keywords" content="VKS,League of legends,Animu,">

            <title>VKS</title>

            <link rel="stylesheet" href="/public/css/style.css">

        </head>

        <body>

            <div class="container">

                <header>
                    <div class="Header">
                    
                        <h1>VKS TEAM</h1>

                    </div>
                </header>

                <nav>
                    <div class="nav_bar">

                        <ul id="nav_bar-ul">
                            <li id="nav_bar-ul_li"><a href="index.html">Inicio</a></li>
                            <li id="nav_bar-ul_li"><a href="miembros.html">Miembros</a></li>
                            <li id="nav_bar-ul_li"><a href="#">Animes recomendados</a></li>
                        </ul>

                    </div>
                </nav>

                <section>     
                        <div class="Section">
                            <p>
                                VKS es un team profesional de league of legends que gano 6 mundiales seguidos y se retiro porque no habia un pete que sepa jugar.
                               
                            </p>
                            <a href=""></a>
                        </div>
                </section>

                <aside>
                    <div class="aside">
                        <h3>Cancion del team</h3>
                        <iframe width="400" height="500" src="https://www.youtube.com/embed/4qgyytaDIi4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>
                </aside>

                <footer>
                    <div class="footer">
                        

                    </div>
                </footer>

            </div>
        </body>
    </html>